<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone_number.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone_number.number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @phone_number.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone_number.user %>
</p>

<%= link_to 'Edit', edit_phone_number_path(@phone_number) %> |
<%= link_to 'Back', phone_numbers_path %>
